.story-img {
  max-width: 100%;
  max-height: auto;
}

.post-headlines {
  min-height: 15em;
  margin: 2em;
  padding: 0px;
}

.headline-title {
  background: hsla(24, 100%, 100%, 0.80);
  color: #000000;
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 0px;
}

.carousel-image {
  max-width: 100%;
  max-height: auto;
}
