<div class="col-md-12">
  <p><h3>News you can use!</h3></p>
  <div class="row col-md-12">

    {{#each post in model}}
      <div class="col-md-3 post-headlines" style="background: url('../img/{{unbound post.image}}')">
        <h4>{{post.title}}</h4>
        <!-- <img class="story-img" src="../img/{{unbound post.image}}"> -->
      </div>
    {{/each}}
  </div>
</div>
